---
layout: default
---

{% include home-header.html %}


<h1>Hello</h1>

Welcome to my personal website!
<br /> <br />

I am a postdoctoral research fellow hosted by <a href="https://wu.mse.berkeley.edu/" target="_blank">Junqiao Wu</a> in the Department of Materials Science and Engineering at University of California, Berkeley. I received Ph.D. degree in Applied Physics from Northwestern University in 2019, as co-advised by [Teri Odom](https://www.odomgroup.northwestern.edu/) and [George Schatz](https://sites.northwestern.edu/schatz/). In 2013, I earned my B.S. degree in Physics at Nanjing University, China. My research interest is in unconventional optical behaviors of functional and structured nanomaterials with applications in energy harvesting and quantum engineering. You can download my CV <a href="https://github.com/danqing-wang/danqing-wang.github.io/raw/master/assets/CV_DanqingWang_2022_web.pdf" target="_blank">here</a>.   
<br /> <br />

In my spare time, I enjoy reading, hiking, and exploring local places and food.
<br /> <br />

Contact <br />
Email: danqing.wang@berkeley.edu <br />
Address: 2607 Hearst Ave, Berkeley, CA 94720  


<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
