---
layout: default
---

{% include home-header.html %}


<h1>Hello</h1>

Welcome to my personal website!  
I am a postdoctoral research fellow in the Department of Materials Science and Engineering at University of California, Berkeley. I received my Ph.D. degree in Applied Physics from Northwestern University in 2019. My research interest is in unconventional optical behaviors of functional and structured nanomaterials with applications in energy harvesting and quantum engineering. In my spare time, I enjoy reading, hiking, and exploring local places and food.  

Contact 
Email: danqing.wang@berkeley.edu
Address: 2607 Hearst Ave, Berkeley, CA 94720  


<script>
  function backToTop() {
    const main = document.getElementById("site-main");
    main.scrollTop = 0;
  }
</script>
